.NONE{
  display: none !important;
}
* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  background: #32393f;
  color: white;
  display: block;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'helvetica neue', Raleway, helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
form{
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 20px;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 4px;
  padding: 20px;
}
label{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
label > p{
  display: flex;
  flex: 0 0 200px;
}
input, select, textarea{
  display: flex;
  flex: 1 1;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  background: white;
  text-indent: 10px;
  box-shadow: 0 0 1px 1px rgb(255 255 255);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}
input, select{
  line-height: 25px;
  height: 25px;
}
textarea{
  min-height: 250px;
}

/**
 * @layout
 */
#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
main{
  display: block;
  flex: 1 1 50%;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
aside{
  display: block;
  flex: 0 0 50%;
  height: 100%;
  width: 50%;
  box-shadow: -1px -1px 5px rgb(0 0 0 / 50%);
  background: rgba(0,0,0,.5);
  padding: 20px;
  overflow: scroll;
  border: 1px solid rgb(0 0 0 / 20%);
}
